:root {
  --ifm-color-primary: #ffc107;
  --ifm-color-primary-dark: #ecb100;
  --ifm-color-primary-darker: #dfa700;
  --ifm-color-primary-darkest: #b78a00;
  --ifm-color-primary-light: #ffc821;
  --ifm-color-primary-lighter: #ffcb2e;
  --ifm-color-primary-lightest: #ffd556;
  --ifm-background-color: #fafbfb;
  --ifm-footer-background-color: #232f34;
}

[data-theme='dark'] {
  --ifm-color-primary: #ffc107;
  --ifm-color-primary-dark: #ecb100;
  --ifm-color-primary-darker: #dfa700;
  --ifm-color-primary-darkest: #b78a00;
  --ifm-color-primary-light: #ffc821;
  --ifm-color-primary-lighter: #ffcb2e;
  --ifm-color-primary-lightest: #ffd556;
  --ifm-background-color: #232f34;
}