/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  /* background-color: #fafbfb; */
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showCase {
  border-radius: 10%;
}

.logo {
    width: 500px;
    height: 100px;
    display: block;
    margin: 10px auto;
    position: relative;
    background: url("/img/protoconf.png") center / cover;
}

[data-theme="dark"] .logo {
    background: url("/img/protoconf_inverse.png") center / cover;

}