on:
  push:
    branches-ignore:
      - release

name: Check
jobs:
  checks:
    name: run
    runs-on: ubuntu-latest
    container: mattinsler/bazelisk:latest
    services:
      consul:
        image: consul:latest
        ports:
          - 8500
      zookeeper:
        image: zookeeper:latest
        ports:
          - 2181
      etcd:
        image: quay.io/coreos/etcd:latest
        env:
          ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:2379
          ETCD_ADVERTISE_CLIENT_URLS: http://0.0.0.0:2379
        ports:
          - 2379
    steps:
      # - name: Install bazelisk
      #   run: |
      #     apt-get update && apt-get install curl -y
      #     curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.1.0/bazelisk-linux-amd64"
      #     mkdir -p "${GITHUB_WORKSPACE}/bin/"
      #     mv bazelisk-linux-amd64 "${GITHUB_WORKSPACE}/bin/bazel"
      #     chmod +x "${GITHUB_WORKSPACE}/bin/bazel"
      - uses: actions/checkout@master
      - name: build all
        run: |
          bazel build //...
      - name: test all
        run: |
          bazel test //...
