on:
  push:
    branches-ignore:
      - release
      - master

name: Check
jobs:
  checks:
    name: run
    runs-on: ubuntu-latest
    container: mattinsler/bazelisk:latest
    steps:
      - uses: actions/checkout@v2
      - name: Write BuildBuddy Certs
        run: |
          echo "${{ secrets.BUILDBUDDY_ORG_CERT }}">buildbuddy-cert.pem
          echo "${{ secrets.BUILDBUDDY_ORG_KEY }}">buildbuddy-key.pem
      - name: build all
        run: |
          bazel build --config=ci //...
      - name: test all
        run: |
          bazel coverage --config=ci //...
      - name: aggregate coverage files
        run: bazel build --config=master //:aggregate_cov_files
      - name: install curl
        run: |
          apt-get update && apt-get install -y curl bash
          cp bazel-bin/coverage.dat coverage.txt
      - uses: codecov/codecov-action@v1
        with:
          file: coverage.txt
      - name: build locally
        run: |
          bazel build --config=release //:protoconf-linux //:protoconf-darwin //:protoconf-windows
      - uses: actions/upload-artifact@v2
        name: upload protoconf-darwin-amd64
        with:
          name: protoconf-darwin-amd64.tar.gz
          path: bazel-bin/protoconf-darwin.tar.gz
      - uses: actions/upload-artifact@v2
        name: upload protoconf-linux-amd64
        with:
          name: protoconf-linux-amd64.tar.gz
          path: bazel-bin/protoconf-linux.tar.gz
      - uses: actions/upload-artifact@v2
        name: upload protoconf-windows-amd64
        with:
          name: protoconf-windows-amd64
          path: bazel-bin/protoconf-windows.zip
