on:
  push:
    branches:
      - release

name: Release
jobs:
  checks:
    name: run
    runs-on: self-hosted
    services:
      consul:
        image: consul:latest
        ports:
          - 8500
      zookeeper:
        image: zookeeper:latest
        ports:
          - 2181
      etcd:
        image: quay.io/coreos/etcd:latest
        env:
          ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:2379
          ETCD_ADVERTISE_CLIENT_URLS: http://0.0.0.0:2379
        ports:
          - 2379
    steps:
    - name: checkout
      uses: actions/checkout@v2
      run: |
          git fetch --prune --unshallow
    - name: Log in to registry
      uses: azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Install bazelisk
      run: |
        curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.1.0/bazelisk-linux-amd64"
        mkdir -p "${GITHUB_WORKSPACE}/bin/"
        mv bazelisk-linux-amd64 "${GITHUB_WORKSPACE}/bin/bazel"
        chmod +x "${GITHUB_WORKSPACE}/bin/bazel"

    - name: test all
      uses: ngalaiko/bazel-action/1.2.1@master
      with:
        args: test //...

    - name: Release to GitHub
      env:
        DEPLOY_GITHUB_TOKEN: ${{secrets.DEPLOY_GITHUB_TOKEN}}
      run: |
        "${GITHUB_WORKSPACE}/bin/bazel" run //:deploy-github -- ${{ github.sha }}

    - name: Release `protoconf` to Docker Hub
      run: |
        "${GITHUB_WORKSPACE}/bin/bazel" run //docker:protoconf_release
    - name: Release `agent` to Docker Hub
      run: |
        "${GITHUB_WORKSPACE}/bin/bazel" run //docker:agent_release
    - name: Release `server` to Docker Hub
      run: |
        "${GITHUB_WORKSPACE}/bin/bazel" run //docker:server_release
