on:
  push:
    tags:
      - "*"

name: Release
jobs:
  checks:
    name: run
    runs-on: ubuntu-latest
    container: mattinsler/bazelisk:latest
    services:
      consul:
        image: consul:latest
        ports:
          - 8500
      zookeeper:
        image: zookeeper:latest
        ports:
          - 2181
      etcd:
        image: quay.io/coreos/etcd:latest
        env:
          ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:2379
          ETCD_ADVERTISE_CLIENT_URLS: http://0.0.0.0:2379
        ports:
          - 2379
    steps:
      - uses: actions/checkout@v2
        name: fetch tags
        run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
      - name: Log in to registry
        uses: azure/docker-login@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: "290.0.1"
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      - run: gcloud info
      - name: test all
        run: |
          bazel test --config github //...
      - name: build all
        run: |
          bazel build --config github //...
      - name: Release to GitHub
        env:
          DEPLOY_GITHUB_TOKEN: ${{secrets.DEPLOY_GITHUB_TOKEN}}
        run: |
          bazel run --config github //:deploy-github -- ${{ github.sha }}

      - name: Release `protoconf` to Docker Hub
        run: |
          bazel run --config github //docker:protoconf_release
      - name: Release `agent` to Docker Hub
        run: |
          bazel run --config github //docker:agent_release
      - name: Release `server` to Docker Hub
        run: |
          bazel run --config github //docker:server_release
